[submodule "libDaisy"]
	path = libDaisy
	url = https://github.com/electro-smith/libDaisy.git
	ignore = dirty
[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/electro-smith/DaisySP.git
	ignore = dirty
